# Current project:
data/4lzt
tests/data/ms_out/*/MC*
_maybe/
_tmp/
_scratch.ipynb
Untitled.ipynb

# Prerequisites
*.d
# Object files
*.o
*.ko
*.obj
*.elf
# Linker output
*.ilk
*.map
*.exp
# Precompiled Headers
*.gch
*.pch
# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.idea
__pycache__/
*.swp
.DS_Store
.vscode

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# vscode workspace:
*.code-workspace
# wsl tracks
*Zone.Identifier

# Jupyter Notebook
.ipynb_checkpoints

delphi
delphi/delphi
lib/delphi/delphi
mcce
*.opp
*.dat
testcase_1A2P/
testcase_cai/
6JYT/
wiki/site/
